@using CMSGTechnical.Domain.Models
@using CMSGTechnical.Mediator.Dtos

<div class="menu-item">
    <div class="menu-item__details">
        <div class="menu-item__title">
            <strong>@Item.Name</strong>
            <span class="menu-item__price">ś@Item.Price</span>
        </div>
        <div class="menu-item__category">
            @Item.Category
        </div>

        @if (!string.IsNullOrWhiteSpace(Item.Description))
        {
            <div class="menu-item__description">
                @Item.Description
            </div>
        }
    </div>
    <div class="menu-item__actions">
        @if (OnAdd.HasDelegate)
        {
            <button class="btn btn-primary btn-round" @onclick="Add">+</button>
        }
        @if (OnRemove.HasDelegate)
        {
            <button class="btn btn-primary btn-round" @onclick="Remove">-</button>
        }
    </div>
</div>


@code {

    [Parameter] public MenuItemDto Item { get; set; } = new();
    

    [Parameter]
    public EventCallback<MenuItemDto> OnAdd { get; set; }

    [Parameter]
    public EventCallback<MenuItemDto> OnRemove { get; set; }


    private async Task Remove() => await OnRemove.InvokeAsync(Item);
    private async Task Add() => await OnAdd.InvokeAsync(Item);




}
